/* 
.navbar {
  top: 0;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #ddd;
  z-index: 1;
  position: fixed;
  background-color: #F8F5EF;
  height: 5vh;
  width: 100vw;
  box-sizing: content-box;
  z-index: 10;

  /* text-shadow: 0.5px 1px grey; */

/* }

.navbar a {
  margin-left: 3rem;
  font-size: 2vmin;
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: #F8F5EF;
  height: 1vmin;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  }


  .navbar h2 { 
    margin-right: auto;
    font-family: 'Megrim';
    font-size: xx-large;
    justify-content: flex-start;
    margin-left: 1.5vw;
    cursor: pointer;
    font-size: 4vmin;
  }

  .navbar h2:hover {
      color: var(--color-btn)
  } */ 

/* MEDIA QUERIES (SMALL DEVICES)  */

/* @media screen and (max-width: 600px) {
.navbar {
  flex-wrap: wrap;
}
} */


/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
header{
  position: sticky;
  z-index: 30;
  top: 0;
}
nav{
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
}
.nav__menu-bar{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}
.nav__menu-bar div{
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}
.nav__menu-list{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: #f1f1f1;
}
.nav__menu-list.active{
  right: 0;
}
.nav__link{
  font-size: 18px; 
  position: relative;
  transition: all 0.2s;
}

.nav__link:hover{
 font-weight: bold;
}

.center{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__menu-bar{
    display: none;
  }
  .nav__menu-list{
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }
  .nav__link::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: black;
    transition: all 0.2s;
  }
  
  .nav__link:hover:before{
   width: 100%;
  }
} */